#topbar {
    position: fixed;
    width: 100%;
    height: 76px;
    background-color: #3B4252;
    top: 0px;
    left: 0px;
    z-index: 3;
}
#leftsidebar {
    position: fixed;
    width: 250px;
    top: 76px;
    height: calc(100% - 76px);
    background-color: #434C5E;
    left: 0px;
    z-index: 2;
    overflow: hidden scroll;
}
#rightsidebar {
    position: fixed;
    width: 200px;
    height: calc(100% - 76px);
    background-color: #434C5E;
    right: 0px;
    top: 76px;
    z-index: 2;
    overflow: hidden scroll;
}
#mainpfp {
    position: fixed;
    border: 3px solid #8FBCBB;
    margin: 6px;
    margin-top: -10px;
    right: 0px;
    top: 15px;
    height: 60px;
}
#mainpfp:hover {
    filter: brightness(0.9);
}
.pfp {
    border-radius: 5px;
    height: 64px;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: -10px;
    margin-left: 5px;
}
.leftpfp {
    margin-bottom: 0px;
}
.lefttext {
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 0px;
}
html {
    background-color: #2E3440;
}
* {
    font-family: Arial, Helvetica, sans-serif;
    color: #ECEFF4;
}
button {
    border-radius: 10px;
    background-color: #2E3440;
    border-style: none;
}
.leftbuttons {
    margin-bottom: 10px;
}
#bottombar {
    position: fixed;
    bottom: 55px;
    z-index: 1;
}
#inputfield{
    width: calc(100% - 520px);
    position: fixed;
    background-color: #4C566A;
    border-top: 3px solid #1F2022;
    border-bottom: 3px solid #1F2022;
    height: 40px;
    left: 280px;
    resize: none;
    font-size: 12pt;
}
#sendbtn {
    display: inline-block;
    position: fixed;
    border-start-start-radius: 0px;
    border-end-start-radius: 0px;
    border-left-color: #ECEFF4;
    background-color: #4C566A;
    border-right: 3px solid #1F2022;
    border-top: 3px solid #1F2022;
    border-bottom: 3px solid #1F2022;
    right: 212px;
    height: 49px;
}
#sendbtn:hover{
    filter: brightness(0.9);
}
#messagelist {
    position: fixed;
    left: 265px;
    top: 75px;
    height: calc(100% - 115px);
    width: calc(100% - 465px);
    overflow: hidden scroll;
    z-index: 0;
}
.popupwindow {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-44.5%, -50%);
    width: 50%;
    height: 50%;
    z-index: 11;
}
.popupbackground {
    background-color: #000;
    position: fixed;
    opacity: 50%;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 10;
}
input {
    background-color: #4c566a;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
}
#refreshbtn {
    font-size: x-large;
}
#refreshbtn:hover {
    filter: brightness(0.9);
}
.sameline {
    display: inline-block;
}

#addflbtn {
    display: inline-block; 
    position: fixed;
    border-start-end-radius: 0px;
    border-end-end-radius: 0px;
    background-color: #4C566A; 
    border-left: 3px solid #1F2022;
    border-top: 3px solid #1F2022;
    border-bottom: 3px solid #1F2022;
    height: 49px;
    z-index: 1;
    left: 259px; 
}
#addflbtn:hover {
    filter: brightness(0.9);
}
.message {
    background: #2e3440;
    border-radius: 10px;
    margin-bottom: 20px;
}
.message:hover {
    filter: brightness(0.9);
}

.timetext {
    position: relative;
    right: 30px;
    float: right;
}
.embed {
    width: 800px;
    height: 450px;
}
.leftbuttons:hover {
    filter: brightness(0.9);
}
#campsites:hover {
    filter: brightness(0.9);
}
