button {
    position: fixed;
    background-color: #4c566a;
    width: 10%;
    height: 40px;
    left: 400px;
}
input {
    position: fixed;
    background-color: #4c566a;
    width: 386px;
    height: 40px;
}