button {
    background-color: #4c566a;
    width: 100px;
    height: 40px;
    right: 7px;
    bottom: 6px;
}
#passwordbtn {
    left: 110px
}
input {
    background-color: #4c566a;
    width: 386px;
    height: 40px;
}
#password {
    top: 122px;
}
#closebtn {
    position: fixed;
    font-size: xx-large;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
}
#logoutbtn {
    margin-left: 185px;
}