button {
    position: fixed;
    background-color: #4c566a;
    width: 100px;
    height: 40px;
    left: 7px;
    top: 170px;
}
#passwordbtn {
    left: 110px
}
input {
    position: fixed;
    background-color: #4c566a;
    width: 386px;
    height: 40px;
}
#password {
    top: 122px;
}